body{
	font-family: 'Bungee Inline', cursive;
	font-size: large;
	text-align: center;
}
h1{
	color: CornflowerBlue;
	font-size: 40px;
	letter-spacing: 2px;
}
input[type=number]{
	border-radius: 10px;
	width: 80px;
	padding: 8px 12px;
}
h2{
	color: Coral;
	font-size: 30px;
	letter-spacing: 2px;
}